.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .individual-card{
    margin-left: 5%;
    margin-top: 3%;
  }
  
  .individual-card-leftmost{
    margin-top: 3%;
  }

  .logout{
    position: absolute;
    top: 1%;
    right: 1%;
  }

  .h5{
    text-align: center;
  }